.b-none { border-style: none; }
.b-solid { border-style: solid; }
.b-l-solid { border-left: solid; }
.b-1 { border-width: 1px; }
.shadow-0-0-10 { box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5); }
.circle { border-radius: 50%; }
.radius-20 { border-radius: 20px; }
