$primary-font-stack: 'Nunito', sans serif;
$secondary-font-stack: 'Open Sans', sans serif;

.font-pri { font-family: $primary-font-stack; }
.font-sec { font-family: $secondary-font-stack; }
.f1 { font-size: 3rem; }
.f2 { font-size: 2.25rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }
.ex-light { font-weight: 200; }
.light { font-weight: 300; }
.regular { font-weight: 400; }
.bold { font-weight: 700; }
.t-center { text-align: center; }
.line-h-20 { line-height: 20px; }
.line-h-30 { line-height: 30px; }
.line-h-40 { line-height: 40px; }
.line-h-50 { line-height: 50px; }
