.mr-0 { margin: 0; }
.mr-5 { margin: 5px; }
.mr-10 { margin: 10px; }
.mr-20 { margin: 20px; }
.mr-30 { margin: 30px; }
.mr-40 { margin: 40px; }
.mr-50 { margin: 50px; }
.mr-60 { margin: 60px; }
.mr-100 { margin: 100px; }
.mr-0-100 { margin: 0 100px; }
.up-mr-10 { margin-top: 10px; }
.up-mr-20 { margin-top: 20px; }
.up-mr-25 { margin-top: 25px; }
.up-mr-30 { margin-top: 30px; }
.d-mr-10 { margin-bottom: 10px; }
.d-mr-20 { margin-bottom: 20px; }
.d-mr-30 { margin-bottom: 30px; }
.d-mr-40 { margin-bottom: 40px; }
.d-mr-50 { margin-bottom: 50px; }
