.pd-0 { padding: 0; }
.pd-5 { padding: 5px; }
.pd-10 { padding: 10px; }
.pd-15 { padding: 15px; }
.pd-20 { padding: 20px; }
.r-pd-10 { padding-right: 10px; }
.r-pd-20 { padding-right: 20px; }
.pd-0-10 { padding: 0 10px; }
.pd-0-20 { padding: 0 20px; }
.pd-0-30 { padding: 0 30px; }
.pd-0-40 { padding: 0 40px; }
.pd-0-50 { padding: 0 50px; }
.pd-0-60 { padding: 0 60px; }
.pd-0-70 { padding: 0 70px; }
.pd-0-80 { padding: 0 80px; }
.pd-0-90 { padding: 0 90px; }
.pd-0-100 { padding: 0 100px; }
.pd-0-150 { padding: 0 150px; }
.pd-10-30 { padding: 10px 30px; }
