$primary-color: hsl(0, 0, 100%);
$secondary-color: hsl(50, 10%, 30%);
$tertiary-color: hsl(50, 90%, 60%);

// import font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:300|Varela+Round&display=swap');

@import 'animate';
@import 'border';
@import 'color';
@import 'flex';
@import 'font';
@import 'margin';
@import 'padding';
@import 'size';

html {
	margin: 0;
	padding: 0;
	background: $primary-color;
	color: $secondary-color;
}

body {
	margin: 0;
	padding: 0;
	background: $primary-color;
	color: $secondary-color;
}

.cursor-point {
	cursor: pointer;
}
.skew-320 {
	transform: skew(320deg);
}
.fix-end {
	position: absolute;
	bottom: 0;
}
